* {
    padding: 0%;
}


li {
  background-color: #f8f9fa;
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}


button.delete {
  background-color: #ff4d4d;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 3px;
}

button.delete:hover {
  background-color: #e60000;
}